---
layout: "default"
---
<div class="header">  
<h1>AKWI Mitglieder</h1>
</div>

<div class="row">
<div class="side">
<h2>Hochschulen</h2>
</div>

<div class="main">
<ul>
  {% capture collegeOrUniversities_query %}
    SELECT
      ?collegeOrUniversity
    WHERE {
      ?collegeOrUniversity a schema:CollegeOrUniversity.
    }
    ORDER BY ?collegeOrUniversity
  {% endcapture %}
  {% assign collegeOrUniversities = collegeOrUniversities_query | sparql_query %}
  {% for row in collegeOrUniversities %}
    <li>
      <a href="/akwi{{ row.collegeOrUniversity.page_url }}">{{ row.collegeOrUniversity | rdf_property: "schema:legalName" }}</a>
    </li>
  {% endfor %}
</ul>
</div>
</div>

{% include footer.html %}