---
layout: "default"
---
{% include navigation.html %}
<h2>
  {{ page.rdf | rdf_property: "schema:name" }} {{ page.rdf | rdf_property: "schema:educationalAlignment" | rdf_property: "schema:targetName"}}
</h2>
<table>
	<tr><td>Zugehörig zu Fakultät</td><td>{{ page.rdf | rdf_property: "schema:provider" | rdf_property: "schema:name"}}</td></tr>
	<tr><td>Studierende gesamt</td><td>{{ page.rdf | rdf_property: "akwi:totalEnrollments" }}</td></tr>
	<tr><td>Neueingeschriebene Studierende</td><td>{{ page.rdf | rdf_property: "akwi:newEnrollments" }}</td></tr>   
</table>  

